@page "/product/{ProductId:int}"
@inject IProductService ProductService

<div class="container">
    @if (Product is null)
    {
        <p>Loading product info...</p>
        <PageTitle>Gamers' Domain</PageTitle>
    }
    else
    {
        <PageTitle>Gamers' Domain | @Product.Name</PageTitle>
        <div class="product-info">
            <img src="@Product.ImageUrl" />
            <div class="product-details">
                <h3>@Product.Name</h3>
                <p>@Product.Description</p>
                <h4>@string.Format("{0:C}", Product.Price)</h4>
                <AddToCartButton Product=@Product />
            </div>
        </div>
    }
</div>

@code {
    public Product? Product { get; set; } = null;

    [Parameter]
    public int ProductId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var result = await ProductService.GetProductById(ProductId);
        Product = result;
    }
}