@inject IProductService ProductService
@inject HttpClient http

<section class="product-list container">
    <h2>@ProductCategory</h2>
    @if (Products is null)
    {
        <p>Loading products...</p>
    }
    else
    {
        @foreach (var product in Products)
        {
            <ProductListing 
                Product="@product"
                Name="@product.Name" 
                Description="@product.Description" 
                Price="@product.Price.ToString()" 
                ImageUrl="@product.ImageUrl"
            />
        }
    }
</section>